html {
	height: 100vh;
	padding: 0;
	margin: 0;
}

body {
	background-image: ;
	background-size: 100vh;
	font-family: Tahoma;
	overflow-y: scroll;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.flex {
	height: inherit;
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.przejscie {
	width: inherit;
	height: inherit;
	z-index: 0;
	background-image: url('img/back.png');
	background-size: 100vh;
	animation-name: przejscie;
	animation-duration: 2s;
	position: absolute;
	opacity: 1;
	visibility: hidden;
}

div {
	text-align: center;
	margin: auto;
	z-index: 0;
	width: 100%;
}

li {
	color: #3d6e8e;
}

ul {
	text-align: left;
}

button {
	border: none;
	padding: 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5vw;
	margin: 2%;
	font-family: Tahoma;
	width: 44%;
	outline: 0;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px #64636c;
	-moz-box-shadow: 2px 2px 5px #64636c;
	box-shadow: 2px 2px 5px #64636c;
	color: #ffffff;
	background: #2c292c;
}

.but2 {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5vw;
	font-family: Tahoma;
	width: 75%;
	outline: 0;
	padding: 3%;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px #64636c;
	-moz-box-shadow: 2px 2px 5px #64636c;
	box-shadow: 2px 2px 5px #64636c;
	color: #ffffff;
	background: #2c292c;
}

.but2a {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5vw;
	font-family: Tahoma;
	width: 75%;
	animation-name: but2a;
	animation-duration: 1s;
	position: relative;
	outline: 0;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px #64636c;
	-moz-box-shadow: 2px 2px 5px #64636c;
	box-shadow: 2px 2px 5px #64636c;
	color: #ffffff;
	background: #2c292c;
}

.but2b {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5vw;
	font-family: Tahoma;
	width: 75%;
	animation-name: but2b;
	animation-duration: 1s;
	position: relative;
	outline: 0;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px #64636c;
	-moz-box-shadow: 2px 2px 5px #64636c;
	box-shadow: 2px 2px 5px #64636c;
	color: #ffffff;
	background: #2c292c;
}


img {
	width: 80vw;
	margin: 2% auto;
	display: block;
}

.logo_bot {
	width: 70vw;
	margin: 7% auto 0;
	display: block;
}

.comm {
	width: 15%;
	display: inline-block;
	margin: 5% 1%;
}

.niezbednik {
	margin: auto;
	display: block;
	width: 92vw;
	height: 87vh;
}

.mapa {
	width: 99%;
	margin: auto;
	display: block;
	z-index: 0;
}

#tlo_mapa {
	width: 94%;
	animation-name: tlo;
	animation-duration: 1s;
	position: relative;
	margin: 1% auto;
	border: none;
	padding: 2% 2%;
	font-size: 4vw;
	background: rgba(200, 200, 200, 0.1);
	z-index: 0;
}

#tlo {
	width: 90%;
	animation-name: tlo;
	animation-duration: 1s;
	position: relative;
	margin: 1% auto;
	border: none;
	padding: 2% 2%;
	font-size: 4vw;
	background: rgba(200, 200, 200, 0.1);
}

#tlo2 {
	width: 90%;
	animation-name: tlo2;
	animation-duration: 1s;
	position: relative;
	margin: 1% auto;
	border: none;
	padding: 2% 2%;
	font-size: 4vw;
	background: rgba(200, 200, 200, 0.1);
}

#fb {
	width: 100%;
	animation-name: tlo;
	animation-duration: 1s;
	position: relative;
	margin: auto;
	border: none;
	padding: 1% 1%;
}

@keyframes but2a {
	from {left: 25%; opacity: 0;}
	to {left: 0%; opacity: 1;}
}

@keyframes but2b {
	from {left: -25%; opacity: 0;}
	to {left: 0%; opacity: 1;}
}

@keyframes tlo {
	from {left: 50%; opacity: 0;}
	to {left: 0%; opacity: 1;}
}

@keyframes tlo2 {
	from {left: -50%; opacity: 0;}
	to {left: 0%; opacity: 1;}
}

@keyframes przejscie {
	from {opacity: 1; visibility: visible;}
	to {opacity: 0; visibility: hidden;}
}

.title1 {
	color: #ba742e;
}

.textGreen {
	color: #ba2b1b;
}

.dropbtn {
	border: none;
	padding: 4%;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-size: 5vw;
	margin: 1%;
	font-family: Tahoma;
	width: 44%;
	outline: 0;
	position: absolute;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px #64636c;
	-moz-box-shadow: 2px 2px 5px #64636c;
	box-shadow: 2px 2px 5px #64636c;
	color: #ffffff;
	background: #2c292c;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
	position: absolute;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
	text-align: left;
}

.dropdown-content span {
    color: #ba742e;
    padding: 5% 5%;
    display: block;
	line-height: 1.6;
	letter-spacing: 1vw;
}

.dropdown span:hover {background-color: white;}

.show {display: block;}